/* ----- [common] ----- */
body {
  width: 100%;
  text-align: center;
  counter-reset: number 0;
}

section {
  margin: 0 auto;
  padding: 100px 0;
}

section:nth-child(even) {
  background-color: #e6f6ff;
}

.section__title {
  padding: 10px 20px;
  display: inline-block;
  font-size: 32px;
  margin-bottom: 50px;
  position: relative;
}

.section__title span::before, .section__title span::after {
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  position: absolute;
  z-index: 1;
}

.section__title span::before {
  top: 0;
  left: 0;
  background: linear-gradient(135deg, #008dd5 0%, #008dd5 50%, transparent 50%, transparent 100%);
}

.section__title span::after {
  right: 0;
  bottom: 0;
  background: linear-gradient(135deg, transparent 0%, transparent 50%, #008dd5 50%, #008dd5 100%);
}

.typo-bold {
  font-weight: 700;
}

.flex-inner {
  display: flex;
}

.base-color {
  color: #fff;
}

.bg-base-color {
  background-color: #fff;
}

.main-color {
  color: #008dd5;
}

.bg-main-color {
  background-color: #008dd5;
}

/* ----- [header] ----- */
.page-header {
  background: url("../images/main_visual.jpg") center center/cover no-repeat;
  width: 100%;
  min-height: 480px;
  padding-top: calc(480/ 1200 * 100%);
  position: relative;
}

.header__title {
  position: absolute;
  top: 210px;
  left: 100px;
  line-height: 55px;
  font-size: 36px;
  text-align: start;
}

.header__title span {
  background: #000;
  padding: 2px 8px;
}

.header__logo {
  position: absolute;
  top: 0px;
  left: 0;
}

.header__campaign {
  position: absolute;
  bottom: 25px;
  right: 25px;
  width: 180px;
  height: 180px;
  font-size: 24px;
  line-height: 1.67;
  border: 5px solid #008dd5;
  border-radius: 50%;
  padding-top: 45px;
  transition: 0.2s;
}

.header__campaign:hover {
  background: #008dd5;
  transition: 0.2s;
}

.header__campaign a {
  transition: 0.2s;
}

.header__campaign a:hover {
  color: #fff;
  transition: 0.2s;
}

.header__campaign a::after {
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.header__nav-block {
  box-shadow: 0 3px 6px 1px #d8d8d8;
  width: 100%;
  height: 80px;
}

.header__nav-list {
  width: 100%;
  align-items: center;
}

.header__nav-item {
  margin-left: 40px;
}

.header__nav-item:first-child {
  margin-left: 90px;
}

.header__nav-item a {
  padding: 5px;
  transition: 0.2s;
}

.header__nav-item a:hover {
  opacity: 0.7;
  transition: 0.2s;
}

.header__nav-contact {
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  background-color: #a9d92f;
  transition: 0.2s;
}

.header__nav-contact:hover {
  background-color: #c3e56d;
  transition: 0.2s;
}

.header__nav-contact a {
  padding: 32px 60px;
}

/* ----- [main] ----- */
/* ---------------- [news] ---------------- */
.news__block {
  width: 640px;
  margin: 0 auto 60px;
  text-align: start;
  line-height: 1.57;
}

.news__item {
  margin-bottom: 23px;
}

.news__item dt {
  padding-right: 90px;
}

.news__page-link {
  display: inline-block;
  line-height: 2;
}

.news__page-link:hover {
  text-decoration: underline;
}

/* ---------------- [feature] ---------------- */
.feature__block {
  width: 1000px;
  margin: 0 auto;
  padding: 60px;
}

.feature__box {
  margin-bottom: 40px;
}

.feature__text-box {
  text-align: start;
  line-height: 28px;
  width: 460px;
  margin-right: 60px;
}

.feature__icon-box {
  width: 360px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.feature__icon-box li:not(:last-child) {
  margin-right: 40px;
}

.feature__icon-box li:not(:nth-child(n+4)) {
  margin-bottom: 20px;
}

.feature__icon-box li:nth-child(4) {
  margin: 0 40px;
}

.feature__page-link {
  line-height: 1.5;
  display: inline-block;
  padding: 17px 0;
  border: 1px solid #008dd5;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}

.feature__page-link a {
  padding: 19px 47px;
  transition: 0.2s;
}

.feature__page-link a:hover {
  transition: 0.2s;
  color: #fff;
  background: #008dd5;
}

.feature__page-link span::before {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  position: absolute;
  right: 5px;
  bottom: 5px;
  z-index: 1;
  background: linear-gradient(135deg, transparent 0%, transparent 50%, #008DD5 50%, #008DD5 100%);
}

.feature__page-link span::after {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  position: absolute;
  right: 5px;
  bottom: 5px;
  z-index: 1;
  background: linear-gradient(135deg, transparent 0%, transparent 50%, #fff 50%, #fff 100%);
  opacity: 0;
}

.feature__page-link span:hover::after {
  opacity: 1;
}

/* ---------------- [advantage] ---------------- */
.advantage__block {
  width: 1000px;
  margin: 0 auto;
  text-align: start;
}

.advantage__box {
  align-items: center;
}

.advantage__box:not(:last-child) {
  margin-bottom: 50px;
}

.advantage__box img {
  border-radius: 50%;
}

.advantage__item {
  margin-left: 40px;
}

.advantage__item h3 {
  font-size: 24px;
  line-height: 1.5;
  border-bottom: 2px solid #008dd5;
}

.advantage__item h3::before {
  counter-increment: number 1;
  content: counter(number) ". ";
}

.advantage__item p {
  line-height: 2em;
  margin-top: 15px;
}

/* ---------------- [client-voice] ---------------- */
.client-voice__block {
  width: 1000px;
  margin: 0 auto;
  background: #fff;
  overflow: hidden;
  padding: 60px;
  text-align: start;
}

.client-voice__item {
  border: 1px solid #ddd;
  border-radius: 10px;
  width: 400px;
  float: left;
  overflow: hidden;
}

.client-voice__item:nth-child(2) {
  float: right;
}

.client-voice__item:nth-child(3) {
  float: right;
  margin-top: 70px;
}

.client-voice__item:nth-child(4) {
  margin-top: 70px;
}

.client-voice__image figcaption, .client-voice__text {
  padding: 20px;
  line-height: 28px;
}

/* ---------------- [contact] ---------------- */
.contact__form {
  width: 600px;
  margin: 0 auto;
}

.contact__form-parts {
  text-align: start;
  margin-bottom: 30px;
  display: block;
}

.contact__form label:nth-child(4) {
  margin-bottom: 65px;
}

.contact__form-parts span {
  margin-bottom: 10px;
  display: inline-block;
}

.contact__form-parts select {
  font-family: Araial;
  padding: 7px 10px;
  width: 200px;
  border-radius: 4px;
  border: 1px solid #000;
  font-size: 1.6rem;
  display: block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url("assets/images/icon-triangle.png") no-repeat;
  background-position: center right 10px;
}

.contact__form-parts input, textarea {
  width: 600px;
  border: 1px solid #000;
  border-radius: 4px;
  padding: 10px;
  line-height: 23px;
}

.contact__form-parts textarea {
  height: 200px;
}

.contact__form-button {
  line-height: 1.5;
  padding: 17px 0;
  border: 1px solid #000;
  border-radius: 5px;
  position: relative;
}

.contact__form-button::after {
  content: '.';
  background: linear-gradient(135deg, transparent 0%, transparent 50%, #fff 50%, #fff 100%);
  opacity: 0;
  display: block;
  width: 10px;
  height: 10px;
  position: absolute;
  right: 5px;
  bottom: 5px;
}

.contact__form-button a {
  padding: 17px 130px;
  color: #333;
  transition: 0.2s;
}

.contact__form-button a:hover {
  background-color: #333;
  color: #fff;
  transition: 0.2s;
}

.contact__form-button a::before {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  position: absolute;
  right: 5px;
  bottom: 5px;
  z-index: 1;
  background: linear-gradient(135deg, transparent 0%, transparent 50%, #333 50%, #333 100%);
}

.contact__form-button a::after {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  position: absolute;
  right: 5px;
  bottom: 5px;
  z-index: 1;
  background: linear-gradient(135deg, transparent 0%, transparent 50%, #fff 50%, #fff 100%);
  opacity: 0;
}

.contact__form-button a:hover::after {
  opacity: 1;
}

/* ----- [footer] ----- */
footer {
  font-size: 14px;
  width: 100%;
  padding: 50px 0;
  text-align: start;
  white-space: nowrap;
}

.footer__nav-block {
  padding-left: 100px;
}

.footer__nav-block:first-child {
  padding-left: 180px;
}

.footer__nav-title {
  padding-bottom: 40px;
}

.footer__nav-list li {
  padding-bottom: 20px;
}

.footer__nav-list li a {
  color: #fff;
}

.footer__nav-list li a:hover {
  text-decoration: underline;
}
